body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home-img {
  width: 100%;
  /* height: 70%; */
  min-width: 700px;
  height: 500px;
  position: absolute;
  z-index: -1;
}

.home-txt {
  font-size: 3em;
  position: relative;
  color: white;
  top: 300px;
  left: 250px;
}

.login {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
}

.home-categories {
  position: absolute;
  top: 520px;
  display: flex;
  flex-flow: column;
}

.header {
  background-color: grey;
  color: white;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  /* position: fixed; */
}

.category-name {
  background-color: rgb(239, 255, 151);
  display: flex;
  justify-content: center;
}

.item img {
  width: 200px;
  height: 250px;
}

.item {
  margin: 10px;
  display: inline-block;
}

.category-img {
  width: 40px;
  height: 40px;
}

.category-window {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.category-link{
  text-decoration: none;
  color: black;  
}

.cart img {
  width: 30px;
  height: 30px;
  /* display: inline; */
}

.cart {
  color: black;
}

.cart:hover {
  background-color: rgba(151, 239, 255, 0.712);
}

.cart p {
  margin: 0;
  display: inline-block;
}

img.item-page{
  width: 200px;
  height: 200px;
}

.inline {
  display: inline;
}

.cart-popup {
  position: absolute;
  background-color: white;
}

.boxed-link {
  text-decoration: none;
  padding: 2px;
  color: black; 
  border: 1px solid black;
}

.boxed-link:hover {
  background-color: rgba(151, 239, 255, 0.712);
}

/* .box {
  background-color: black;
} */